.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: .8rem;
    background-color: var(--primary);
    color: var(--text-over-primary);
    border: none;
    cursor: pointer;
    min-width: 24rem;
    padding: .8rem;
    margin: 3.2rem 0;
    transition: all .2s ease-in-out;
}

.button svg {
    width: 3.2rem;
    height: 3.2rem;
}

.button:hover {
    filter: brightness(50%);
}

.green {
    background-color: var(--primary);
    color: var(--text-over-primary);
}

.red {
    background-color: var(--error);
    color: var(--text-over-error);
}