.Menu {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2.4rem;
}

.MenuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--text-over-primary);
    border-radius: 0.8rem;
    transition: ease-in-out 0.2s;
}

.MenuLink:hover {
    filter: brightness(70%);
}

.MenuLink svg {
    width: 1.8rem;
    height: 1.8rem;
}